:root {
    --gc-red: hsl(353, 81%, 33%) ;
    --gc-red-darker: hsl(353, 81%, 23%) ; /* for hover */
    --gc-red-darkest: hsl(353, 81%, 13%) ; /* for active */
  
    --gc-tan: hsl(39, 33%, 76%);
    --gc-tan-darker: hsl(39, 33%, 66%); /* for hover */
    --gc-tan-darkest: hsl(39, 33%, 56%); /* for active */
  
    --gc-eggshell: hsl(60, 65%, 97%);
  
    --gc-dark-color: #1b1b1b;
    --gc-dark-grey: #7a7a7a;
    --gc-gray: #e6e6e6;
  }
  
  a {
    font-weight: 500;
    color: white;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  div {
    color: #213547;
  }
  
  nav {
    background-color: var(--gc-red);
  }

  li {
    color: var(--gc-eggshell);
  }


  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    flex: 1;
    flex-direction: column;
  }


  /* Bottom Navigation Bar CSS */
  .bottomNavBar {
    background-color: #fcfcf1;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: auto;
    
  }

  .bottomNavBar button{
    font-size: 32.5px;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
  }

  .nav-item {
    margin: 20px 10px;
    
  }

  .nav-link {
    text-decoration: none;
    color: white;
  }

  .nav-link:hover {
    text-decoration: underline;
  } 

  button {
    border-radius: 25px;
    border: 3px solid transparent;
    padding: 0.4em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #d7c9af;
    color:black;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #646cff;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  
  /* Left Navigation Bar CSS */
  .leftNavBar {
    background-color: #98101f;
    color: white;
    padding: 3px;
    display: flex;
    justify-content: space-between;
  }

  /* Top Navigation Bar CSS */
  .topNavBar {
    background-color: #fcfcf1;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
  }

  .nav-item a{
    font-size: 35px;
  }

 .drink{
  width: 200px;
  height: 150px; 
  text-align: center;
  margin: 5px;
  padding: 25px;
  justify-content: center;
  border-radius: 10px;
  border: 3px solid var(--gc-eggshell);
 }

 .drink h1{
  font-size: 23px;
 }

 .series{
    width: 200px;
    height: 200px; 
    font-size: 10px;
    text-align: center;
    margin: 20px;
    padding: 30px;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid var(--gc-eggshell);
 }


  .categoryGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .menuItemGrid {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    overflow:scroll;
    margin-left: 0px;
    padding-left: 50px;
    grid-auto-rows: minmax(min-content, max-content); 
    gap: 0px; 
    height: auto;
  }

  span {
    color: black;
  }

  .col-md-3.cart-view {
    background-color: white;
    color: black;
    overflow-y: auto;
    height: 100vh; /* Adjust this value as needed */
    .p {
      color: black;
    }
  }

  .col-md-3.cart-view p{
    color: black;
  }

  .main-content {
    /* This ensures the main content takes the remaining height after TopBar and BottomBar */
    overflow: hidden;
  }

  
  