:root {
    --gc-red: hsl(353, 81%, 33%) ;
    --gc-red-darker: hsl(353, 81%, 23%) ; /* for hover */
    --gc-red-darkest: hsl(353, 81%, 13%) ; /* for active */
  
    --gc-tan: hsl(39, 33%, 76%);
    --gc-tan-darker: hsl(39, 33%, 66%); /* for hover */
    --gc-tan-darkest: hsl(39, 33%, 56%); /* for active */
  
    --gc-eggshell: hsl(60, 63%, 97%);
  
    --gc-dark-color: #1b1b1b;
    --gc-darkest-grey: hsl(0, 0%, 48%);
    --gc-dark-grey: hsl(0, 0%, 60%);
    --gc-gray: hsl(0, 0%, 80%);
  }
  
  .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  a {
    font-weight: 500;
    color: white;
    text-decoration: inherit;
  }

  a:hover {
    border-color: hsl(203, 85%, 50%);
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      border-color: hsl(203, 85%, 50%);
    }
    button {
      background-color: #f9f9f9;
    }
  }

  div {
    color: #213547;
  }
  
  nav {
    background-color: var(--gc-red);
  }

  li {
    color: var(--gc-eggshell);
  }


  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    flex: 1;
    flex-direction: column;
  }


  /* Bottom Navigation Bar CSS */
  .bottomNavBar {
    background-color: #fcfcf1;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: auto;
    
  }

  .bottomNavBar button{
    font-size: 32.5px;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
  }

  .nav-item {
    margin: 20px 10px;
    
  }

  .nav-link {
    text-decoration: none;
    color: white;
  }

  .nav-link:hover {
    text-decoration: underline;
  } 

  button {
    border-radius: 25px;
    border: 3px solid transparent;
    padding: 0.4em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #d7c9af;
    color:black;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: hsl(203, 85%, 50%);
  }

  .button-no-hover{
    border-radius: 10px;
  }

  .button-disabled{
    background-color: var(--gc-dark-grey) !important;
    color: var(--gc-dark-color);
    opacity: 0.5;
    cursor: not-allowed;
    border-color: transparent !important;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .button-no-hover:hover, .button-disabled:hover {
    border-color: transparent; /* or the same color it was before hover */
    cursor: default;
  }

  
  /* Left Navigation Bar CSS */
  .leftNavBar {
    background-color: #98101f;
    color: white;
    padding: 3px;
    display: flex;
    justify-content: space-between;
  }

  .leftNavButton:hover{
    color: var(--gc-tan)
  }

  /* Top Navigation Bar CSS */
  .topNavBar {
    background-color: #fcfcf1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
  }
  .topbarText{
    font-size: 25px;
  }
  .topBarInfo{
    min-width: 650px;
    display: flex;
    justify-content: space-between;
    /* padding: 0px; */
    align-items: center;
  }
  .Back-icon > path {
    color: black ;
  }
  .checkIcon > path {
    color: black ;
  }
  .checkIcon{
    font-size: 25px;
  }
  .back-button{
    padding: 0px 20px 0px 20px;
  }

  .nav-item a{
    font-size: 35px;
  }

 .series{
    width: 200px;
    height: 200px; 
    font-size: 30px;
    text-align: center;
    margin: 20px;
    padding: 30px;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid var(--gc-eggshell);
 }


  .categoryGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .drink{
    font-size: 27px;
    width: 200px;
    height: 150px; 
    text-align: center;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid var(--gc-eggshell);
 }

  .menuItemGrid {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    margin: 0px;
    padding: 20px 20px 0px 10px; /* top right bottom left */
    grid-auto-rows: minmax(min-content, max-content); 
  }

  .skeleton-card {
    width: 200px;
    height: 150px; 
    margin: 5px;
    padding: 5px;
    background-color: var(--gc-eggshell);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }
  
  @keyframes load {
    from {
      left: -150px;
    }
    to {
      left: 100%;
    }
  }
  .animated-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--gc-eggshell) 8%, #dddddd 18%, var(--gc-eggshell) 33%);
    position: absolute;
    background-size: 1000px 104px;
    top:0;
    animation: load 1.5s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
  }
  
  

  span {
    color: black;
  }

  .cartViewContainer {
    background-color: var(--gc-tan);
    color: black;
    overflow-y: auto;
    max-height: 777px;
    padding-left: 0px;
    padding-right: 4px;
    .p {
      color: black;
    }
    
  }

  .cartViewContainer p{
    color: black;
  }

  .cartView{
    display: flex;
    background-color: var(--gc-eggshell);
    flex-direction: column;
    min-height: 390px;
    max-height: 390px;
    overflow: auto;
    justify-content: flex-start; /* Align items to the start of the cross axis */
  }
  .cart-item {
    background-color: transparent;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;

  }
  .cart-item:focus{
    background-color: #747bff;
  }

  .item-name-quantity-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .item-toppings-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
    
  }
  .item-toppings {
    max-height: 25px;
    transform: translateY(-10px);
    opacity: 0.5;
  }

  .toppping-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cartView span{
    font-size: 27px;
  }
  
  .cartText{
    display: flex;
    flex-direction: column;
  }
  .cartText span{
    font-size: 30px;
  }
  .spaced{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cartViewButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cartViewButton{
    background-color: var(--gc-eggshell);
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    
  }
  .main-content {
    /* This ensures the main content takes the remaining height after TopBar and BottomBar */
    display: flex;
    flex-direction: column;
    height: 100%; /* make sure it takes the full height of its parent */
  }
  .main-content > .row {
    flex: 1; /* take up all available space */
    display: flex;
    flex-direction: row; /* make it a flex row */
    margin: 0; /* optional: reset any margins */
  }

  .overlay{
    position:fixed;
    background-color: rgba(0,0,0,0.4); /*dim the background*/
    top:0;
    bottom: 0;
    z-index: 10; 
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
  }

  .Popup{
    position:absolute;
    margin: 0px;
    padding: 0px;
    background-color: var(--gc-tan);
    top: 10%;
    left: 20%;
    width: 1340px;
    height: 800px;
    border: 3px solid var(--gc-red);
    z-index: 11;
  }
  .smallPopup{
    position:absolute;
    margin: 0px;
    padding: 0px;
    background-color: var(--gc-tan);
    top: 10%;
    left: 40%;
    width: 600px;
    height: 750px;
    border: 3px solid var(--gc-red);
    z-index: 11;
  }
  .drinkProp{
    margin-left: 20px;
    ;
  }
  .drinkPropText{
    margin-left: 5px;
    text-decoration: underline;
    font-size: 45px;
  }
  .drinkPropButton{
    background-color: var(--gc-eggshell);
    font-size: 30px;
    padding: 0px;
    width: 350px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    z-index: 2;
  }
  .addInventoryButton{
    background-color: var(--gc-eggshell);
    font-size: 30px;
    padding: 0px;
    width: 200px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    z-index: 2;
  }
  .drinkToppings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-right: 20px;
    width: 100%;
    height: 100%;
  }
  .bottomOverlay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0.4); /*dim the background*/
    height: 90px;
    bottom: 0;
    right:0;
    left:0;
    z-index: 1;
  }

  .bottomOverlayBack{
    background-color: hsl(203, 85%, 58%);
    font-size: 30px;
    padding: 0px 100px 0px 100px;
    width: auto;
    border-radius: 10px;
  }

  .bottomOverlayBack:hover{
    background-color: hsl(203, 85%, 50%);
  }
  /* .bottomOverlayBack:focus{
    background-color: hsl(203, 85%, 40%);
  } */

  .buttonClicked{
    background-color: hsl(203, 85%, 40%);
  }
  
  .inventoryContainer{
    overflow-y: scroll;
    justify-content: center;
  }
  .inventoryTable {
    width: 100%;
    justify-content: center;
    /* align-items: center; */
  }

  .dateInput{
    min-height: 76.13px;
  }

  td{
    font-size: 25px;
    color: black;
    padding: 12px 20px;
    border: 1px solid #ddd; /* Light gray border */
  }
  th{
    background-color: var(--gc-re); 
    color: black;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd; 
    border-right: 1px solid #ddd;
  }

  thead th{
    font-size: 30px;
    position: sticky;
    top: 0; /* Adjust this value if you have a margin or padding at the top of the container */
    background-color: #e7e7e7; 
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2); /* Box shadow for 'pop out' effect */ 
   
  }

  tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Lighter gray for odd rows */
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1); /* Subtle box shadow for each row */
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* dark gray for even rows */
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1); /* Subtle box shadow for each row */
  }

  tbody tr:hover {
    background-color: hsl(203, 85%, 50%); /* Slightly different color for hover */
  }

  .salesInputRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  .comboBox{
    width: 350px;
    height: 100px;
    padding-top: 15px;
  }

  label{
    font-size: 35px;
    
    color: Black;

  }

  label input{
    margin-left: 30px;
    color: Black;
  }
  .tableContainer{
    overflow-y: scroll;
  }
  
  .inventoryTable .noDataCell {
    background-color: white;
    text-align: center; 
    vertical-align: middle; 
    height: 516px; 
  }
  

  .addMenuItemConatiner{
    display:flex;
    flex-direction: column;
  }

  .addMenuIteminputCol{
    min-height: 700px;
    min-width:650px;
    align-content: space-between;
    justify-content: space-around;
  }

  .addMenuItemRow{
    font-size: 38px;
    min-width: 600px;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    
  }

  .addMenuInput{
    width: 350px;
    min-height: 76.13px;
    color: black;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .addMenuMeasurementInput{
    max-width: 90px;
    color: Black;
  }

  .salesTable thead th{
    font-size: 28px;
  }

  .addInventoryRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .addInventoryRow span{
    font-size: 33px;
  }

  .addInventoryInput{
    width: 350px;
    min-height: 76.13px;
    color: black;
    font-size: 30px;
    padding-left: 10px;

  }

  